{{!< default}}
{{> "header"}}
{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="main">
<article class="post han-init-context">
    <h3 class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY/MM/DD"}}</h3>
    <h1 class="title">{{title}}</h1>
    <div class="content">
        {{content}}
    </div>
</article>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story next" href="{{url}}">
        <h4>下一篇：<span>{{title}}</span></h4>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev" href="{{url}}">
        <h4>上一篇：<span>{{title}}</span></h4>
    </a>
    {{/prev_post}}
</aside>
</div>
{{/post}}
